//Mobile View
#all-project{
  display: flex;
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  .project-title{
    color: white;
  }
  .project-gif{
    width: 300px;
    height: auto;
    cursor: pointer;
    border: solid white 3px;
    box-shadow: slategrey 5px 5px 3px;
  }
  .project-desc{
    text-align: justify;
    width: 300px;
  }
}
//Desktop View
@media only screen and (min-width: 481px){
  #all-projects{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  .project{
    width: 500px;
    .project-gif{
      width: 400px;
    }
    .project-desc{
      width: 400px;
      font-size: 18px;
    }
  }
}