

#contact-links{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  margin: 0;
  .contact-link{
    color: #E6BD41;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      color: #94b48b;
    }
  }
}
//Desktop View
@media only screen and (min-width: 481px){
  #contact-links{
    flex-direction: row;
    justify-content: space-around;
    .contact-channel{
      margin: 20px
    }
  }
}