#skills-icons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .skill{
    margin: 1em;
    .skill-logo{
      width: 60px;
      min-height: 60px;
      height: auto;
    }
    .skill-tag{
      display: flex;
      margin: 0;
      justify-content: center;
      width: 60px;
      text-align: center;
    }
  }
}