//Mobile View

  #main-nav-bar {
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: row;
    background-color: #943141;
    align-items: center;
    justify-content: space-between;
    width: 100vw;


    #nav-left{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 90%;
      width: 50%;
      #nav-bar-menu{
        margin: 2vw;
        :hover {
          cursor: pointer;
          background-color: #E6BD41;
          border-radius: 10px;
        }
      }
      
      
      #title-bundle{
        margin: 2vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        #title-header-name{
          display: flex;
          text-align: left;
          margin-top: 2vw;
          margin-bottom: 0;
          color: #E6BD41;
        }
        #title-header-occupation{
          display: flex;
          text-align: left;
          margin-top: 0;
          margin-bottom: 2vw;
          color: #ffffff
        }
      }
    }
    #nav-right{
      display: flex;
      justify-content: flex-end;
      #logo{
        height: 20%;
        width : 20%;
        margin-right: 2vw;
        :hover{
          background-color: #E6BD41;
        }
      }
    }
  }
  
  #nav-bar-menu-dropdown{
    margin-top: 1rem;
    ul {
      padding: 0;
    }
    .nav-bar-menu-dropdown-item{
      font-family: 'Silkscreen', cursive;
      padding: 0.5rem;
      background-color: #E6BD41;

      #nav-dropdown-close-icon{
        font-size: medium;
        padding-top: 2.5px;
      }

    }
  }
  
  @media only screen and (min-width: 481px){
  }
  