#main-nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #943141;
  align-items: center;

  #title-header-name{
    margin: 2vw;
  }
  #title-header-occupation{
    margin: 2vw;
  }
  




}